* {
  font-family: Montserrat;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Montserrat;
}

h2 {
  font-family: Montserrat;
}

h6 {
  font-family: Montserrat;
}

#btn-sign-in {
  font-family: Montserrat;
}

#btn-sign-up {
  font-family: Montserrat;
}